<div class="card o-hidden border-0 shadow-lg mb-5">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4"><h2><%= t "edit" %> <%= resource_name.to_s.humanize %></h2></h1>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, class: "form-control form-control-user",
                placeholder: t("user.your_name") %>
            </div>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",
                class: "form-control form-control-user", id: "exampleInputEmail", placeholder: t("user.email_address") %>
            </div>
            <div class="form-group">
              <%= f.label :avatar %><br>
              <%= f.file_field :avatar, accept: "image/png,image/gif,image/jpeg" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div><%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="form-group">
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> <%= t "user.characters_minimum" %></em>
              <% end %>
              <%= f.label :password %> <i><%= t "user.leave_blank_noti" %></i><br />
              <%= f.password_field :password, autocomplete: "new-password",
                class: "form-control form-control-user", id: "exampleInputPassword", placeholder: t("user.password") %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password",
                class: "form-control form-control-user", id: "exampleRepeatPassword", placeholder: t("user.repeat_password") %>
            </div>
            <div class="form-group">
              <%= f.label :current_password %> <i><%= t "user.confirm_your_change" %></i><br />
              <%= f.password_field :current_password, autocomplete: "current-password",
                class: "form-control form-control-user", placeholder: t("user.current_password") %>
            </div>
            <%= f.submit t("user.update"), class: "btn btn-primary btn-user btn-block" %>
            <%= link_to t("user.back"), :back %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
