<div class="row">
  <div class="col-12">
    <%= link_to new_admin_word_path, class: "btn btn-primary mb-3" do %>
      <i class="fa fa-plus"></i>
      <%= t "word.Create_new_word" %>
    <% end %>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%= t "word.list_word" %></h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered w-100"cellspacing="0">
            <tr>
              <th><%= t "word.courses" %></th>
              <th><%= t "word.name" %></th>
              <th><%= t "word.action" %></th>
            </tr>
            <% @words.each do |word| %>
            <tr>
              <td><%= word.course_name %></td>
              <td><%= word.name %></td>
              <td>
                <%= link_to admin_word_path(word) do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <%= link_to edit_admin_word_path(word) do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <%= link_to [:admin, word], method: "delete", data: {confirm: t("word.are_you_sure")} do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
          <div class="pagination">
            <%= paginate @words %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
