<%= provide :title, t("user.list") %>
<%= link_to t("user.create"), new_admin_user_url, class: "btn btn-primary" %>
<hr class="invisible">
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= t "user.list" %></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr class="text-center">
          <th><%= t "user.stt" %></th>
          <th><%= t "user.name" %></th>
          <th><%= t "user.avatar" %></th>
          <th><%= t "user.role" %></th>
          <th><%= t "user.action" %></th>
        </tr>
        </thead>
        <tbody>
        <% stt = get_stt params[:page].to_i, Settings.user.user_per_page %>
        <% @users.each do |user| %>
          <tr>
            <td class="stt text-center"><%= stt %></td>
            <td><%= user.name %></td>
            <td>
              <%= image_tag user.avatar , class: "mx-auto img-fluid img-circle d-block", alt: "avatar" %>
            </td>
            <td>
              <% if user.is_admin? %>
                <%= t "admin" %>
              <% else %>
                <%= t "member" %>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to edit_admin_user_path(user) do %>
                <i class="fa fa-pencil fa-fw fa-update"></i>
              <% end %>
              <% if !current_user.current_user? user %>
                <%= link_to [:admin, user], method: :delete, data:{ confirm: t("are_u_sure")} do %>
                  <i class="fa fa-trash-o fa-fw fa-delete"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% stt += 1 %>
        <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
