<%= form_for [:admin, @course], as: :course do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: t("course.enter_name") %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", placeholder: t("course.description") %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, accept: "image/png,image/gif,image/jpeg" %>
  </div>
  <%= button_tag t("submit"), type: "submit", class: "btn btn-primary" %>
  <%= button_tag t("reset"), type: "reset", class: "btn btn-default" %>
<% end %>
